{% extends "base.html" %}

{% block content %}
    <div id="srd-container">
        {% for source in source_list %}
            <h2>{{ source.name }} Buff Spells</h2>
            {% for spell in spell_list %}
                {% if spell.source_id == source.id %}
                    {% if not spell.size_modifying %}
                        <div class="checkbox">
                            {% if spell.varies_by_cl %}
                                <label>
                                    <input type="checkbox"
                                           id="spell-{{ spell.id }}">
                                    {{ spell.name }}
                                </label>
                                <input type="number"
                                       id="caster-level-{{ spell.id }}"
                                       class="cl-detail"
                                       value="1" min="1" max="100">
                            {% else %}
                                <label>
                                    <input type="checkbox"
                                           id="spell-{{ spell.id }}">
                                    {{ spell.name }}
                                </label>
                            {% endif %}
                        </div>
                    {% else %}
                        <div class="radio">
                            {% if spell.variable %}
                                <label>
                                    <input type="radio" name="size"
                                           id="spell-{{ spell.id }}">
                                    {{ spell.name }}
                                </label>
                                <input type="number"
                                       id="caster-level-{{ spell.id }}"
                                       class="cl-detail"
                                       value="1" min="1" max="100">
                            {% else %}
                                <label>
                                    <input type="radio" name="size"
                                           id="spell-{{ spell.id }}">
                                    {{ spell.name }}
                                </label>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endfor %}
        <div id="results-container">
        </div>
    </div>
{% endblock %}